
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Murat Emre ATEŞ | İletişim</title>
    <link rel="stylesheet" href="~/web-Web Sitem/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    
<div class="sosyalbutonlar">
    <a href="https://www.facebook.com/ats.emre" target="_blank" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://twitter.com/muratemreats" target="_blank" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://github.com/muratemreates" target="_blank" class="github" ><aria-hidden= class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://instagram.com/muratemreats" target="_blank" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/muratemreates/" target="_blank" class="linkedin" ><aria-hidden= class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="http://t.me/mrtemreats" target="_blank" class="telegram" ><i class="fa fa-telegram" aria-hidden="true"></i></a>
    <a  mail href="mailto:m.emre6530@gmail.com" target="_blank" class="youtube"><i class="fa fa-google" aria-hidden="true"></i></a>   
</div>
</body>
</html>
