@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Murat Emre ATEŞ | Hakkımda</title>
    <link rel="stylesheet" href="~/web-Web Sitem/hakkimda.css">
</head>
<body>
<div class="row">
    <div class="column" id="hakkimda">
        <h1> HAKKIMDA</h1>
        <h3> Merhaba ben Murat Emre ATEŞ,Van Yüzüncü Yıl Üniversitesi Bilgisayar Programcılığı 2. sınıf öğrencisiyim.</h3>
        <p>2022 yılında kazandığım bu bölümde kendimi mobil uygulamalar, Unity ile Oyun geliştirme,Veri Tabanı (MSSQL), .Net alanlarında geliştirmekteyim. Mobil uygulama ve Otomasyon üzerinde projelerim bulunmaktadır.</p>
    </div>
    <div class="column" >
        <img id="resim" src="~/web-Web Sitem/assets/mea.gif" alt="">
    </div>
</div>
<div class="row" id="ft">
    <div class="column" id="foto">
        <img id="resimler" src="~/web-Web Sitem/assets\ankara.jpg">
    </div>

    <div class="column" id="foto">
        <img id="resimler"  src="~/web-Web Sitem/assets\sahil.jpg">
    </div>

    <div class="column" id="foto">
        <img id="resimler"  src="~/web-Web Sitem/assets\van.jpg">
    </div>
</div>

</body>
</html>