
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Murat Emre ATEŞ | Çalışmalar</title>
    <link rel="stylesheet" href="~/web-Web Sitem/works.css">
</head>
<body>
<div class="row" id="satir2">
    <div class="column" id="skills"> YEMEK UYGULAMASI</div>
    <div class="column" id="works">OTOPARK OTOMASYONU</div>
    <div class="column" id="contact">SAVAŞ OYUNU</div>
    <script>
document.getElementById("skills").addEventListener("click", function() {
    window.open("https://github.com/muratemreates/Yemek_Uygulamasi_bitirme_projesi", "_blank");
});
document.getElementById("works").addEventListener("click", function() {
        window.location.href = "index.html"; // Yönlendirilecek URL'yi belirtin
    });
    document.getElementById("contact").addEventListener("click", function() {
    window.open("https://github.com/muratemreates/Counter-Attack", "_blank");
});
        </script>
</div>
</body>
</html>